@charset "utf-8";
/* CSS Document */

body {
	background-color: black;
}
.hidden {
	display: none;
}

.heroSection {
	position: relative;
	text-align: center;
	color: white;
}

.heroSection h1 {
	position: absolute;
	bottom: 10px;
	left: 20px;
	font-family: 'cardo', 'Times New Roman', Serif;
	font-size: 45px;
	text-transform: capitalize;
	letter-spacing: 2px;
}

#heroImage {
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
}

#lineText {
	display: block;
	width: 75%;
}

#lineSection {

	margin-top: 50px;
	display: flex;
 	justify-content: center;
 	height: 100%; 
 	line-height: 25px;
 	text-align: justify;
 	text-align-last: center;

  }

#lineSection p {
	font-family: 'Libre Franklin', Sans-Serif;
	font-size: 16px;
	color: white;
	margin-bottom: 20px;
	letter-spacing: 1.5px;
}




