@charset "utf-8";
/* CSS Document */

body {
	background-color: black;
}
.hidden {
	display: none;
}

.heroSection {
	position: relative;
	text-align: center;
	color: white;
}

.heroSection h1 {
	position: absolute;
	bottom: 10px;
	left: 20px;
	font-family: 'cardo', 'Times New Roman', Serif;
	font-size: 45px;
	text-transform: capitalize;
	letter-spacing: 2px;
}

#heroImage {
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
}

#lineText {
	display: block;
	width: 850px;
}

#lineSection {

	margin-top: 50px;
	display: flex;
 	justify-content: center;
 	height: 100%; 
  }

#lineSection p {
	font-family: 'Libre Franklin', Sans-Serif;
	font-size: 14px;
	color: white;
	margin-bottom: 20px;
}

.column {
	width: 390px;
	height: 280px;
	background-color: red;
}

#columnArea {
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 50px;
	display: flex;
	justify-content: space-between;
	height: 100%;
}


